/* structures of a css rule */

h1 { text-align: center }
h1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}   


nav {
    width: 100%;
    text-align: right;
  }
  
  nav li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
  }



body {background-color: aqua;
    margin: 100px;
    padding: 10px;
    border-style:dashed 10px  rgb(0, 0, 0);
  
    background-image: url("");
    
       
}



#hero {
   width: 1200px;
   
}

.lower {
    display: inline-block;
    text-align: center;
    margin-left: 100px;
  }


footer {text-align: center;}
footer{font-family: cursive;}

