/* structures of a css rule */

h1 { text-align: center }
h1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}   
h1 {color:rgb(255, 255, 255);
  border: 5px;
  border-radius: 5px;
  background: #000000;
  padding: 15px;
}

nav {
    width: 100%;
    text-align: right;
  }
  
  nav li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
  }



body {background-color: rgb(9, 124, 124);
    
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
  
    background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    
       
}



#hero {
   width: 1000px;  
   
}

.lower {
  display: inline-block;
  text-align: center;
  margin-left: 40px;
}


p {
  font-size: 25px;
  font-family: fantasy;
}


footer {text-align: center;}
footer{font-family: cursive;}

